.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    font-family: 'Cinzel', serif;
    margin-top: 3%;
}

.image img{
    width: 50%;
    display: block;
    margin: 0 auto;
}

.image p{
    text-align: center;
    padding-bottom: 1%;
}

@media (max-width: 575px) { 
    .title h1{
       font-size: 40px;
    }
    .image p{
        font-size: 10px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .title h1{
       font-size: 40px;
    }
    .image p{
        font-size: 10px;
    }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .title h1{
        font-size: 48px;
     }
     .image p{
        font-size: 12px;
    }
 }
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .title h1{
        font-size: 56px;
     }
     .image p{
        font-size: 15px;
    }
  }
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .title h1{
        font-size: 58px;
     }
     .image p{
         font-size: 20px;
     }
 }